.navi {
  position: static;
}

/* projects */
.projects-container {
  width: 100%;
  text-align: center;
    background-color: #f5f7f7;
}

.project-row {
  height: 500px;
  width: 88vw;
  padding: 2% 15% 2% 15%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.project-image {
  width: 100%;
  height: 80%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-link {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-pic {
  filter: brightness(0.7);
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.project-title {
  width: 100%;
  padding: 3% 10%;
  font-size: 1rem;
  text-align: center;
}
